<table>
    <td align="center">
    <td width="200px"><a href="/characters/">Characters</a></td>
    <td width="200px"><a href="/planets/">Planets</a></td>
    <td width="200px"><b>Dragonballs</b></td>
    <td width="200px"><a href="/techniques/">Techniques</a></td>
    <td width="200px"><a href="/character_techniques/">Technique Masters</a></td>
    </tr>
</table>

<h1>Current Dragonballs:</h1>

<table>
    <thead> 
        <th>Number</th> 
        <th>Possessor</th>
        <th>Location</th>
    </thead> 
    <tbody> 
        {{#each dragonballs}} 
        <tr> 
            <td>{{id}}</td>
            <td>{{possessor}}</td>
            <td>{{location}}</td>
            <td><a href="/dragonballs/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 

</table> 
